.headerData
{
    @include row-generate-mass(8);

    .theGist
    {
        @include top-generate-mass(3, $hugeOffset : 1, $desktopOffset : 1, 	$tabletOffset : 1, $phoneOffset : 1.50, $lowHeightOffset : 2.25);
        @include row-generate-mass(5);
        h2{
            font-size: 200%;
        }
        h4{
            line-height: 30px;
            font-size: 160%;
        }
    }

    .video
    {
        @include row-generate-mass(6);
    }


    .about-header
    {
        color: $color-createLink;
    }

    .about-subheader 
    {
        color: $color-subText;
    }
    
    .create-link-sub
    {
        color: $color-subText;
    }

}

