$scaler : 1.44;

.rainbow
{
    margin: 0px;
    position: relative;
    height: .25em;
    border: 0;
    overflow: hidden;
}

.rainbow:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: .25em;
    width: 10vw * 1.44;
    background: $color-break-red;
    box-shadow:
        10vw*$scaler 0 0 0 $color-break-orange,
        20vw*$scaler 0 0 0 $color-break-yellow,
        30vw*$scaler 0 0 0 $color-break-green,
        40vw*$scaler 0 0 0 $color-break-blue,
        50vw*$scaler 0 0 0 $color-break-indigo,
        60vw*$scaler 0 0 0 $color-break-violet;
}

.rainbow-middle
{
    margin: 0px;
    position: relative;
    top: 250px;
    width: 100vw;
    left: -10vw;
    z-index: -5;
    height: .25em;
    border: 0;
    overflow: hidden;
}

.rainbow-middle:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: .25em;
    width: 10vw * 1.44;
    background: $color-break-red;
    box-shadow:
        10vw*$scaler 0 0 0 $color-break-orange,
        20vw*$scaler 0 0 0 $color-break-yellow,
        30vw*$scaler 0 0 0 $color-break-green,
        40vw*$scaler 0 0 0 $color-break-blue,
        50vw*$scaler 0 0 0 $color-break-indigo,
        60vw*$scaler 0 0 0 $color-break-violet;
}
