//Padding and Margin Averages.
$textPadding : 15px;
$buttonPadding : 5px;
$buttonMargin : 15px;

//Colors
$color-createLink   : darken(#424242, 5%);
$color-signUp       : #f1f1f1;
$color-text         : #f1f1f1;
$color-subText      : darken(#c9c9c9, 40%);
$color-link         : darken(#c2e0ce, 20%);
$color-social       : #424242;
$color-service      : #424242;
$color-service-subtext :darken(#c9c9c9, 35%);
$color-about-header : #424242;
$color-link-in-action: lighten(#424242, 10%);
$color-faq-text     : #424242;

$color-break-red: saturate(lighten(#a33930, 20%), 20%);
$color-break-orange: saturate(lighten(#c89130, 20%), 20%);
$color-break-yellow: saturate(lighten(#C7A630, 20%), 20%);
$color-break-green: saturate(lighten(#449964, 20%), 20%);
$color-break-blue: #4a77a3;
$color-break-indigo: #6d428c;
$color-break-violet: violet;
